<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datascope.infrastructure.mybatis.mapper.DataSourceMapper">

    <resultMap id="dataSourceResultMap" type="com.datascope.domain.datasource.entity.DataSource">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="host" column="host"/>
        <result property="port" column="port"/>
        <result property="database" column="database_name"/>
        <result property="username" column="username"/>
        <result property="password" column="password_encrypted"/>
        <result property="salt" column="salt"/>
        <result property="status" column="status"/>
        <result property="lastSyncTime" column="last_sync_time"/>
        <result property="lastSyncStatus" column="last_sync_status"/>
        <result property="lastSyncMessage" column="last_sync_message"/>
        <result property="remark" column="remark"/>
        <result property="nonce" column="nonce"/>
        <result property="createdTime" column="created_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="modifiedTime" column="modified_time"/>
        <result property="modifiedBy" column="modified_by"/>
    </resultMap>

    <sql id="baseColumns">
        id
        , name, type, host, port, database_name, username, password_encrypted, salt,
        status, last_sync_time, last_sync_status, last_sync_message, remark,
        nonce, created_time, created_by, modified_time, modified_by
    </sql>

    <insert id="insert" parameterType="com.datascope.domain.datasource.entity.DataSource" useGeneratedKeys="true">
        INSERT INTO tbl_data_source (id, name, type, host, port, database_name, username, password_encrypted, salt,
                                     status, last_sync_time, last_sync_status, last_sync_message, remark,
                                     nonce, created_time, created_by, modified_time, modified_by)
        VALUES (#{id}, #{name}, #{type}, #{host}, #{port}, #{database}, #{username}, #{password}, #{salt},
                #{status}, #{lastSyncTime}, #{lastSyncStatus}, #{lastSyncMessage}, #{remark},
                #{nonce}, #{createdTime}, #{createdBy}, #{modifiedTime}, #{modifiedBy})
    </insert>

    <update id="update" parameterType="com.datascope.domain.datasource.entity.DataSource">
        UPDATE tbl_data_source
        SET name               = #{name},
            type               = #{type},
            host               = #{host},
            port               = #{port},
            database_name      = #{database},
            username           = #{username},
            password_encrypted = #{password},
            salt               = #{salt},
            status             = #{status},
            last_sync_time = #{lastSyncTime},
            last_sync_status   = #{lastSyncStatus},
            last_sync_message  = #{lastSyncMessage},
            remark             = #{remark},
            nonce              = #{nonce},
            modified_time  = #{modifiedTime},
            modified_by        = #{modifiedBy}
        WHERE id = #{id}
    </update>

    <select id="selectById" resultMap="dataSourceResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM tbl_data_source
        WHERE id = #{id}
    </select>

    <select id="selectByIds" resultMap="dataSourceResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM tbl_data_source
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectAll" resultMap="dataSourceResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM tbl_data_source
    </select>

    <select id="selectByName" resultMap="dataSourceResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM tbl_data_source
        WHERE name = #{name}
    </select>

    <select id="existsByName" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM tbl_data_source
        WHERE name = #{name}
    </select>

    <select id="selectByType" resultMap="dataSourceResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM tbl_data_source
        WHERE type = #{type}
    </select>

    <select id="selectByStatus" resultMap="dataSourceResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM tbl_data_source
        WHERE status = #{status}
    </select>

    <select id="selectByLastSyncStatus" resultMap="dataSourceResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM tbl_data_source
        WHERE last_sync_status = #{syncStatus}
    </select>

    <select id="selectByNameLike" resultMap="dataSourceResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM tbl_data_source
        WHERE name LIKE CONCAT('%', #{nameLike}, '%')
    </select>

    <select id="selectByHost" resultMap="dataSourceResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM tbl_data_source
        WHERE host = #{host}
    </select>

    <select id="selectByDatabase" resultMap="dataSourceResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM tbl_data_source
        WHERE database_name = #{database}
    </select>

    <select id="selectByTypeAndStatus" resultMap="dataSourceResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM tbl_data_source
        WHERE type = #{type} AND status = #{status}
    </select>

    <delete id="deleteById">
        DELETE
        FROM tbl_data_source
        WHERE id = #{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM tbl_data_source
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteAll">
        DELETE
        FROM tbl_data_source
    </delete>

    <select id="existsById" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM tbl_data_source
        WHERE id = #{id}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(1)
        FROM tbl_data_source
    </select>

    <select id="countByType" resultType="long">
        SELECT COUNT(1)
        FROM tbl_data_source
        WHERE type = #{type}
    </select>

    <select id="countByStatus" resultType="long">
        SELECT COUNT(1)
        FROM tbl_data_source
        WHERE status = #{status}
    </select>
</mapper>
